<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Мессенджер</title>
</head>
<body>
    <div class="container">
        <div class="welcome-container">
            <div class="title">
                <p class="title__welcome">Добро пожаловать!</p>
                <p>Чтобы продолжить, войдите или зарегистрируйтесь</p>
            </div>
            <div class="auth-buttons">
                <a class="auth-buttons__btn" href="Authorization">Вход</a>
                <a class="auth-buttons__btn" href="Registration">Регистрация</a>
            </div>
        </div>
    </div>
</body>
</html>
